.features {
  display: flex;
  align-items: center;
  padding: 1rem 0 2.5rem;
  width: 100%;
}

.featureCard {
  margin-bottom: 1rem;
}

.featureCard > div {
  height: 100%;
  padding: 1.25rem;
  border: 1px solid var(--ifm-color-emphasis-300);
  border-radius: 0.75rem;
  background: var(--ifm-background-surface-color);
}
